.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    font-size: 40px;
    margin-top: 100px;
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.newest-banner {
    text-align: center;
    font-size: 24px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.articles {
    margin: 8px 0px;
}

.article-block {
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
}

.article-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 4px;
}

.article-desc {
    display: grid;
    grid-template-columns: 60% 40%;
}

.snapshot {
    color: gray;
    font-size: 12px;
}

.stat {
    text-align: right;
}

.site-url {
    font-size: 10px;
    text-align: center;
}