:root[theme="white"]{
	--container-brightness: 255;
}

:root[theme="dark"]{
	--container-brightness: 20;
}

.maintitle{
	background-color: rgba(218, 52, 52, 0.6);
	border-radius: 18px;
	font-size: 36px;
	position: absolute;
	top: 90px;
	left: 50px;
	right: 50px;
	text-align: center;
	padding: 10px;
	box-shadow: 5px 5px 20px rgba(29, 29, 29, 0.028);
	z-index: -1;
}

.post-container {
    top: 200px;
	left: 20px;
	right: 20px;
	padding: 20px;
	z-index: -1;
	margin: 0 auto;
	background-color: rgba(218, 52, 52, 0.23);
	border-radius: 18px;
	box-shadow: 5px 5px 20px rgba(29, 29, 29, 0.1);
	position:absolute;
	border: 3px solid var(--containers-border-opacity);
}

#category-desc {
    margin-block-start: 2px;
    margin-block-end: 2px;
    font-size: 8px;
}

h1{
    font-size:16px;
    font-weight: bolder;
}

h4{
    font-size:16px;
    font-weight: bolder;
}

.post_title {
	font-size: 18px;
	color: #000000;
}

.post_author {
	font-size: 14px;
	margin-left: 18px;
	font-weight: bolder;
	color:rgb(0, 0, 0);
}

.post_description {
	font-size: 14px;
	color: #3b3b3b;
}

.subforum-sort{
	background-color: rgba(170, 170, 170, 0.533);
    padding: 5px;
    border-radius: 12px;
    margin: 10px;
	text-align: center;
}

.subforum-row{
    display: grid;
    grid-template-columns: 60% 10% 30%;
}

.subforum-column{
    padding: 10px 5px 5px 5px;
    margin:5px;
    border-radius: 12px;
	background-color: rgba(255,255,255, 0.514);

}

.subforum-description *{
    margin-block: 0;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}

#input-row-count{
	margin: 0 10px;
	width: 40px;
}

#input-row-page{
	margin: 0 10px;
	width: 40px;
}