.maintitle{
	background-color: rgba(255, 255, 255, 0.549);
	border-radius: 18px;
	font-size: 36px;
	position: absolute;
	top: 90px;
	left: 50px;
	right: 50px;
	text-align: center;
	padding: 10px;
	box-shadow: 5px 5px 20px rgba(29, 29, 29, 0.028);
	z-index: -1;
}

.left-container {
	background-color: rgba(255, 255, 255, 0.409);
	border-radius: 18px;
	position: absolute;
	padding: 20px;
	width: calc(25vw - 20px);
	top: 60px;
	font-size: 26px;
	margin-left: 20px;
	margin-top: 120px;
	float:left;
	box-shadow: 5px 5px 20px rgba(29, 29, 29, 0.1);
	z-index: -1;
}

.right-container {
	width: calc(75vw - 136px);
	background-color: rgba(255, 255, 255, 0.409);
	border-radius: 18px;
	box-shadow: 5px 5px 20px rgba(29, 29, 29, 0.1);
	position:absolute;
	top: 180px;
	margin-left: 10px;
	right: 20px;
	z-index: -1;
	padding: 18px;
}

.left-container h3 {
	margin-block-start: 8px;
	margin-block-end: 8px;
}

.left-container h5 {
	margin-block-start: 3px;
	margin-block-end: 3px;
}

.left-container p {
	margin-block-start: 2px;
	margin-block-end: 2px;
	font-size: 18px;
	color: #444;
}

.left-author{
	margin-block-start: 2px;
	margin-block-end: 2px;
	text-align: right;
}

.subforum-sort{
	background-color: rgba(170, 170, 170, 0.533);
    padding: 5px;
    border-radius: 12px;
    margin: 10px;
	text-align: center;
}

h1{
    font-size:16px;
    font-weight: bolder;
}

.subcategory {
	margin-left: 12px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 60% 10% 30%;

}

.subforum-column{
    padding: 10px 5px 5px 5px;
    margin:5px;
    border-radius: 12px;
	background-color: rgba(255,255,255, 0.514);

}

.subforum-description *{
    margin-block: 0;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}

.post_title {
	font-size: 18px;
	color: #000000;
}

.post_author {
	font-size: 14px;
	font-weight: bolder;
	color:rgb(0, 0, 0);
}

.post_description {
	font-size: 14px;
	color: #3b3b3b;
}