:root[theme="white"]{
	--container-brightness: 255;
}

:root[theme="dark"]{
	--container-brightness: 20;
}

.maintitle{
	background-color: rgba(236, 146, 149, 1);
	border-radius: 18px;
	font-size: 36px;
	position: absolute;
	top: 90px;
	left: 50px;
	right: 50px;
	padding: 10px 22px;
	box-shadow: 5px 5px 20px rgba(29, 29, 29, 0.028);
	z-index: -1;
}

.post-container {
	position: absolute;
    top: 200px;
    left: 20px;
	right: 20px;
	border: 1px solid rgba(255, 255, 255, 0.081);
	padding: 20px;
	border-radius: 22px;
	background-color: rgba(var(--container-brightness),var(--container-brightness),var(--container-brightness), 0.514);
	z-index: -1;
	margin: 0 auto;
}

#search-demo {
    margin-block-start: 2px;
    margin-block-end: 2px;
    font-size: 8px;
}

h1{
    font-size:16px;
    font-weight: bolder;
}

h4{
    font-size:16px;
    font-weight: bolder;
}

.post_title {
	font-size: 18px;
	color: #000000;
}

.post_author {
	font-size: 14px;
	margin-left: 18px;
	font-weight: bolder;
	color:rgb(0, 0, 0);
}

.post_description {
	font-size: 14px;
	color: #3b3b3b;
}

.subforum-sort{
	background-color: rgba(170, 170, 170, 0.533);
    padding: 5px;
    border-radius: 12px;
    margin: 10px;
	text-align: center;
}

.subforum-row{
    display: grid;
    grid-template-columns: 60% 10% 30%;
}

.subforum-column{
    padding: 10px 5px 5px 5px;
    margin:5px;
    border-radius: 12px;
	background-color: rgba(255,255,255, 0.514);

}

.subforum-description *{
    margin-block: 0;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}

#search-content{
	width: calc(100% - 78px);
	height: 36px;
	border-radius: 18px;
	border: 0px solid;
	padding-left: 18px;
	font-size: 20px;
	margin-bottom: 10px;
	margin-right: 22px;
}

.post-container {
    top: 200px;
	left: 20px;
	right: 20px;
	padding: 20px;
	z-index: -1;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.64);
	border-radius: 18px;
	box-shadow: 5px 5px 20px rgba(29, 29, 29, 0.1);
	position:absolute;
	border: 3px solid rgb(255, 255, 255, 1);
}

.search-button {
	position: relative;
	top: 6px;
}

.search-button:hover {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}