.user-banner {
	position: fixed;
    height: 240px;
    top: 0px;
    width: 100%;
    background-color: cornflowerblue;
}

#user-big-avatar {
    position: fixed;
    width: 128px;
    height: 128px;
    left: 64px;
    top: 176px;
    background-color: white;
    border-radius: 50%;
    margin: 0;
}